@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#2a2626;}

body{font-family: 'Pretendard-Regular';
    color:#2a2626;
background-color: #ebebeb;}

/*배너*/
.top{margin: 0 auto;
    width: 1320px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;}
    
    .header_inner{
        width: 1320px;
        height: 40px;
        margin: auto;
        border-top: #857045 0.5px solid;
        border-bottom: #857045 0.5px solid;}
    
    .header_inner ul li{float: left;}
    
    .header_inner li a{
            display: block;
            padding: 5px 97px;
            text-align: center;
            font-size: 25px;
            font-family: 'Pretendard-Regular';
        color: #24292e;}
        
    .header_inner li a:hover{
            color: #89a26c;}
    
    
    
            .main_banner{margin: 0 auto;
            text-align: center;
        padding: 40px 0;}
    
/*배너까지*/

.wrap{width: 1320px;
margin: 0 auto;
height: 3600px;}
h1{padding-top: 150px;
padding-bottom: 50px;
text-align: center;
font-family: 'GmarketSansBold';
font-size: 70px;}

/*Menu*/

.box1 {    padding-top: 100px;
    background: no-repeat url(./images/hotbg.png);
}

.box2 {padding-top: 70px;
    background: no-repeat url(./images/nonebg.png);
    height: 422px;
}
.box3{padding-top: 45px;
    background: no-repeat url(./images/straw.png);
    height: 482px;
}

.text {
  padding-left: 15px;
  word-break: normal;
}

h3 {
    font-family: 'GmarketSansBold';
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 60px;
}

span {
    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

.box1 p {
    line-height: 20px;
}

.wrap li{float: left;
width: 23%;
padding: 0% 1%;
height: 422px;}

.wrap li p {
    font-size: 15px;
    padding-bottom: 40px;
}

.box1 img {
    text-align: center;
    padding-left: 90px;
    padding-bottom: 20px;
}

.box2 img {
    text-align: center;
    padding-left: 90px;
    padding-bottom: 10px;
}

.box3 img {
    text-align: center;
    padding-left: 90px;
    padding-bottom: 10px;
}



        /*푸터*/
.footer{
    width:100%; background-color: #D1CAC0;}

.footer_inner{
    width: 1320px;
    margin: 0 auto;

    height: 220px;
    padding: 50px 0;
    text-align: center;
  }

.footer_inner li{float: left;
}
.f2{
    padding: 30px 0 20px 0;
    text-align: center;
    overflow: hidden;
/* padding-left: 150px;  */
}
.f2>li{float:left;  width:33.3%;}


.sns{padding-left:155px; padding-top:10px;
    box-sizing: border-box;}
.sns>ul>li{padding:10px;}

/* .f2 li:nth-child(1){padding-right: 100px;}
.f2 li:nth-child(3){padding: 0px 50px}
.f2 li:nth-child(4){padding-right: 100px;} */

.f3{
    width:100%;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
  }

.f3 li{width:33.3%;}

/*
.f3 li:nth-child(2){padding: 0px 110px} */
/*푸터*/